*.obj
*.tlog
*.pdb
*.ipdb
*.exe
*.ilk
*.lib
*.ps
*.vs
*.log
*.idb
*.res
*.pch
*.xml
*.iobj
*.dll
*.user
*.resources
*.lref
*.cache
*.html
*.ipch
/sexy/Bin/*
/sexy/sexydotnet/obj/*
*.sdf
*.opensdf
*.exp
*.sxh.h
*.sxh.sxy
/sexy/*.sdf
*.xcf
/dystopia/dystopia.version.cpp
*.enc
*.VC.opendb
*.VC.db
