*.obj
*.tlog
*.pdb
*.ipdb
*.exe
*.ilk
*.lib
*.ps
*.vs
*.log
*.idb
*.res
*.pch
*.xml
*.iobj
*.dll
*.user
*.resources
*.lref
*.cache
*.html
*.ipch
*.sdf
*.opensdf
*.exp
*.sxh.h
*.sxh.sxy
*.xcf
*.enc
*.VC.opendb
*.VC.db
*.force
*.tmp
*.lnk
*.jbf
*.aps
*.metagen
*.asm
*.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded
*.sxyz
temp/
sexy/intermediate/
GisephoneFonts/FontGenerator/bin/
GisephoneFonts/FontGenerator/obj/**
#GisephoneFonts/FontGenerator/obj/x64/Debug/
#GisephoneFonts/FontGenerator/obj/x64/Release/
/obj/
/bin/
intermediate/
